    {% extends "base.html" %}

    {% block title %}{{ article.title|striptags }} &ndash; {{ SITENAME }}{% endblock %}

    {% block content %}

    <article>
      <header class="w3-container col-main">
        <h1>{{ article.title }}</h1>
        <div class="post-info">
          <div class="w3-opacity w3-margin-right w3-margin-bottom" style="flex-grow: 1;">
            <span><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time> in <a href="{{ SITEURL }}/{{ article.category.url }}" title="All articles in category {{ article.category }}">{{ article.category }}</a></span>
          </div>
          {% if article.tags %}
          <div>
            {% for tag in article.tags %}
            <span class="w3-tag w3-light-grey w3-text-green w3-hover-green">
              <a href="{{ SITEURL }}/{{ tag.url }}" title="All articles with {{ tag.name.title() }} tag">#{{ tag }}</a>
            </span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </header>

      <br>

      {% if article.headerimage %}
      <div class="headerimage-article">
        <img src="{{ article.headerimage }}" style="width: 100%;">
        {% if article.headerimagecaption %}
          <p class="caption">{{ article.headerimagecaption }}</p>
        {% endif %}
      </div>
      {% endif %}

      <div class="col-main w3-container">
        <section id="content">
          {{article.content}}

          {% if article.thanks %}
          <hr>
          <div class="thanks">
            Special thanks to
            {{ article.thanks }}
          </div>
          {% endif %}
        </section>

        <br><br>

        <footer>
          <div class="adjust-width">
            <div id="author-block" class="w3-light-grey w3-border">
              <div id="author-info">
                <img style="width: 70px; height: 70px; border-radius: 50%" src="{{ AUTHOR_AVATAR }}" onerror="this.src='/theme/images/avatar.png'" alt="Avatar" />
                <div style="margin-left: 20px;">
                  <span id="author-name" class="w3-hover-text-dark-grey">{{ article.author }}</span>
                  <p id="author-story">{% if article.author==AUTHOR %}{{ AUTHOR_DESCRIPTION }}{% endif %}</p>
                </div>
              </div>
            </div>
          </div>

          <br><br>

          <p style="font-size:10pt; font-style: italic;">Did you like this article? Share it with your friends!</p>
          <div id="share" class="share">
            <a href="https://www.facebook.com/sharer.php?u={{ (SITEURL + '/' + article.url)|urlencode }}&amp;t={{ (article.title + ' - ' + SITENAME)|urlencode }}" target="_blank" class="w3-btn w3-indigo">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/share?url={{ (SITEURL + '/' + article.url)|urlencode }}&amp;text={{ (article.title + ' - ' + SITENAME)|urlencode }}" target="_blank" class="w3-btn w3-blue">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="https://plus.google.com/share?url={{ (SITEURL + '/' + article.url)|urlencode }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="w3-btn w3-red">
              <i class="fa fa-google-plus"></i>
            </a>
          </div>

          {% include "comments.html" %}

        </footer>
      </div>
    </article>

    {% endblock content %}
